.event-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 2rem auto;
    


    li {
        display: flex;
        margin-bottom: 30px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: #fff;

        @media screen and (min-width:300px) and (max-width: 800px) {
            flex-direction: column;
            width: 100%;
        }
        
        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        .event-image {
            img {
                width: 280px;
                 height: 100%;
                border-right: 5px solid #ff0000;

                @media screen and (min-width:300px) and (max-width: 800px) {
                    width: 100%;
                    border-right: none;
                    border-bottom: 5px solid #ff0000;
                    height: 200px;
                }
              
            }
        }

        .event-content {
            align-self: center;
            margin-left: 10px;
            width: 300px;
            margin-top: 10px;
            margin-bottom: 10px;
           
            

            @media screen and (min-width:300px) and (max-width: 800px) {
              
               width: 100%;
               margin-top: 20px;
               margin-bottom: 20px;
               margin-left: 20px;
            }

            

            h3 {
                font-weight: 600;
                font-size: 2.5rem;
                line-height: 3rem;
                margin-bottom: 1rem;
            }

            .eventHost {
                display: flex;
                margin: 1rem 0;

                p {font-size: 12px;}
                
                 
                p:last-child {
                    margin-left: 20px;
                }
            }

            .event-address {
                margin: 1rem 0;
                font-size: 15px;
            }

            .event-description {
                margin: 1rem 0;
                font-size: 1.5rem;
                padding-right: 10%;
            }

            button {
                border: none;
                background-color: #ff0000;
                color: #fff;
                padding: 6px 16px;
                font-size: 15px;
                cursor: pointer;
                
                &:hover {
                border: 1px solid #ff0000;
                color: #ff0000;
                background-color: #fff;
                }
            }
        }
    }
}